body {
    margin: 0;
    padding: 10px;
    padding-top: 20px;
    background-image: url(./Assets/Browse-Image.png);
}

.backLogo {
    width: 50px;
    padding-bottom: 100px;
    padding-left: 5px;
}

.murdochLogo {
    width: 200px;
    padding-bottom: 100px;
    padding-left: 1150px;
}

.handbookTitle {
    font-size: 80px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    text-align: center;
    padding-top: 70px;
}

.search {
    padding-top: 20px;
    text-align: center;
    margin: 0 auto;
}

.searchBar {
    width: 500px;
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
    border: 0;
}

.advancedFilter {
    color: white;
    font-family: sans-serif;
    padding-top: 10px;
    padding-left: 860px;
}

.down {
    text-align: center;
    padding-top: 255px;
}

.downButton {
    width: 50px;
}